<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <form class="container" action="/more" method="POST">
        <button type="submit" value="hone" name="details">hone</button>
        <button type="submit" value="misguided" name="details">misguided</button>
        <button type="submit" value="virtuoso" name="details">virtuoso</button>
        <button type="submit" value="omit" name="details">omit</button>
        <button type="submit" value="isle" name="details">isle</button>
        <button type="submit" value="mnemonic" name="details">mnemonic</button>
        <button type="submit" value="bypass" name="details">bypass</button>
        <button type="submit" value="misconstrue" name="details">misconstrue</button>
        <button type="submit" value="abate" name="details">abate</button>
        <button type="submit" value="pivotal" name="details">pivotal</button>
        <button type="submit" value="skewed" name="details">skewed</button>
        <button type="submit" value="reprimand" name="details">reprimand</button>
        <button type="submit" value="rupture" name="details">rupture</button>
        <button type="submit" value="denominator" name="details">denominator</button>      
        <button type="submit" value="comestibles" name="details">comestibles</button>
        <button type="submit" value="inaugural" name="details">inaugural</button>
        <button type="submit" value="harbinger" name="details">harbinger</button>
        <button type="submit" value="belabor" name="details">belabor</button>      
        <button type="submit" value="leash" name="details">leash</button>
    </form>
    <div class="display">
        <% if(locals.vocX) {%>
        <h2><%= vocX.word  %></h2>
        <ul>
            <li>Pronunciation: <%= vocX.pronunciation  %></li>
            <li>Meaning: <%= vocX.meaning  %></li>
            <li>Example 1: <%= vocX.sentence1 %></li>
            <li>Example 2: <%= vocX.sentence2 %></li>
        </ul>
        <%} else {%>
        <p>Click on the word above to see meaning and pronunciation.</p>
        <% } %>
    </div>
</body>
</html>